{% load static %}
<html lang="en">

<head>
    
	{% include "includes.html" %}

    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
        
        .vis-item.sequence{
            background-color: lightgray;
            border-width: 0;
        }

        .vis-item.arg{
            background-color: salmon;
        }

        .vis-item.mge{
            background-color: lightgreen;
        }

        .vis-item.pat{
            background-color: lightskyblue;
        }
    </style>

</head>
<body>
	{% include "nav.html" %}
        
	<!--Scaffolds list-->
	<div id="scaffold_list">
		{% ifequal scaffolds|length 0 %}
		<div class="blog-author">
			<center><h4>There are no scaffolds in this sample.</h4></center>
		</div>
		{% else %}
		<div class="container">
			{% if not all %}
			<br>
				<h3>
					Showing the only scaffolds having all 3 components (ARGs, MGEs, Pathogens) <br>
					Click <a href="{% url 'display_all_scaffolds' pk=pk %}">here</a> to show all scaffolds
				</h3>
			{% endif %}
			{% if all%}
			<br>
			<h3>
				Showing all scaffolds. Click <a href="{% url 'display_scaffolds' pk=pk %}">here</a> to show only those having all 3 components (ARGs, MGEs, Pathogens)
			</h3>
			{% endif %}
			<hr>
			<div class="col-md-4 text-center"><h3>Scaffolds</h3></div>
			<div class="col-md-4 text-center"><h3>Length</h3></div>
			<div class="col-md-4 text-center"><h3>Visualize</h3></div>
		</div>
		<div class="infinite-container container">
			<hr>
			{% for scaffold in scaffolds %}
				<div class="infinite-item">
						<div class="col-md-4 text-center" {% if scaffold.id in scaffold_intscn %} style='color:#007bff;' {% endif %}>{{ scaffold.id }}</div>
						<div class="col-md-4 text-center" {% if scaffold.id in scaffold_intscn %} style='color:#007bff;' {% endif %}>{{ scaffold|length }}</div>
						<div class="text-center">
							<a href="{% url 'visualize_scaffold' pk=pk scaffold_id=scaffold.id %}">   
								<button type="button" class="btn btn-default{% if scaffold.id in scaffold_intscn %} btn-info {% endif %}" title="Run sample">
									<i class="fa fa-eye" style="font-size:16px"></i> Visualize
								</button>
							</a>
						</div>
						<hr>
				</div>
			{% endfor %}
		{% endifequal %}
		</div>
		<!-- <div class="loading" style="display:none;">Loading ... </div> -->
		{% if scaffolds.has_next %}
			<a class="infinite-more-link" href="?page={{ scaffolds.next_page_number }}">Loading ... </a>
		{% endif %}
	<!--/Scaffolds list-->

	{% include "footer.html" %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
var infinite = new Waypoint.Infinite({
	element: $('.infinite-container')[0],
	// onBeforePageLoad: function(){
	// 	$('.loading').show();
	// },
	// onAfterPageLoad: function($items){
	// 	$('.loading').hide();
	// }
});
</script>
</html>