{% load static %}
<html lang="en">

<head>
	{% include "includes.html" %}
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('{% static './img/background1.jpg' %}');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="{% url 'main' %}">

							<h2 class="logo">MetaCompareWeb <font size=5>(Beta)</font></h2>

                            <!--
                            <img class="logo" src="img/logo.png" alt="logo">
							<img class="logo-alt" src="img/logo-alt.png" alt="logo">a
							-->
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<!--<li><a href="#about">About</a></li>-->


					<!-- Menu !!

					<li><a href="#service">Services</a></li>
					<li><a href="#pricing">Prices</a></li>
					<li><a href="#team">Team</a></li>
					<li class="has-dropdown"><a href="#blog">Blog</a>
						<ul class="dropdown">
							<li><a href="blog-single.html">blog post</a></li>
						</ul>
					</li>

					<li><a href="#contact">Contact</a></li>
					-->

						{% if user.is_authenticated %}
							<li><a href="{% url 'project' %}">My Project</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						{% endif %}
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">MetaCompareWeb</h1>
                            <h3 class="white-text">Prioritize <font color = red>resistome risks </font> represented by various environmental compartments
							</h3>
								{% if user.is_authenticated %}
								{% else %}
									<a href="{% url 'login' %}"><button class="white-btn">Login</button></a>
								{% endif %}

							<a href="#about"><button class="main-btn">Learn more</button></a>
						</div>
					</div>
					<!-- /home content -->
				</div>


			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Next-generation surveillance</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-magic"></i>
						<h3>Resistome Risk</h3>
						<p>Resistome risk is the potential for antibiotic resistance genes (ARGs) to be associated with mobile genetic elements (MGEs) and mobilize to pathogens based on metagenomic data.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-cogs"></i>
						<h3>Computational Pipeline</h3>
						<p>The assembly of shotgun sequencing data and analysis of contigs containing ARGs allow us to determine if they contain sequence similarity to MGEs or human pathogens.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-thermometer-3"></i>
						<h3>Ranking risks</h3>
						<p>MetaCompare enables visual and quantitative comparison of collective resistome risk by projecting the samples into a hazard space and calculating resistome risk scores.</p>
						<a href="#">Read more</a>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	{% include "footer.html" %}

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>
