{% load static %}
<html lang="en">
    <meta http-equiv="refresh" content="30">
    <head>
        {% include "includes.html" %}
    </head>
    <body>
        
        {% include "nav.html" %}
        
        <!-- project -->
            <div class="header-wrapper short-padding bg-grey">
                <div class="container">
                    <div class="breadcrumb">
                        {% if username == 'guest' %}
                            <button type="button" id="disabled" class="btn btn-info disabled" title="You need to create an account to access this feature">
                                <i class="fa fa-plus" aria-hidden="true"></i> Upload Samples
                            </button>
                        {% else %}
                            <a href="{% url 'upload' %}">
                                <button type="button" class="btn btn-info " title="Upload Samples">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Upload Samples
                                </button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="breadcrumb">
                        {% if username == 'guest' %}
                            <button type="button" id="disabled" class="btn btn-info disabled" title="You need to create an account to access this feature">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Project
                            </button>
                        {% else %}
                            <a href="{% url 'add_project' %}">
                                <button type="button" class="btn btn-info " title="Add Project">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add Project
                                </button>
                            </a>
                        {% endif %}
                    </div>

                </div>

            </div>

            {% if not projects %}
                <div class="blog-author">

                    <center><h4>No project exists. Please add project to start !</h4></center>
                </div>

            {% endif %}

            {% for project in projects %}
            <div class="blog-author">
                <div class="media">
                    <div class="media-body">
                        <div class="media-heading">
                            <h3>{{ project }}</h3>
                            <div class="author-social">
                                <!--Run All-->
                                <a href="{% url 'run_all' pk=project.pk %}" title="Run all samples">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-play" style="font-size:24px"></i>
                                    </button>
                                </a>
                                <!--Download as a CSV file-->
                                <a href="{% url 'export_csv' pk=project.pk %}">
                                    <button type="button" class="btn btn-default" title="Download result as a CSV file">
                                        <i class="fa fa-file-text" style="font-size:24px"></i>
                                    </button>
                                </a>
                                <!--Delete Project-->
                                <a class="confirm-delete" href="{% url 'project_remove' pk=project.pk %}">
                                    <button type="button" class="btn btn-default" title="Delete Project">
                                        <i class="fa fa-trash" style="font-size:24px"></i>
                                    </button>
                                </a>
                            </div>
                        </div>

                        <!-- table -->
                        <table class="table-fill">
                            <thead>
                                <tr>
                                    <th class="text-left">Sample Name</th>
                                    <th class="text-left"># of Contigs</th>
                                    <th class="text-left"># of ARG</th>
                                    <th class="text-left"># of MGE</th>
                                    <th class="text-left"># of PAT</th>
                                    <th class="text-left">Q(ARG)</th>
                                    <th class="text-left">Q(ARG, MGE)</th>
                                    <th class="text-left">Q(ARG, MGE, PAT)</th>
                                    <th class="text-left">Risk Score</th>
                                    <th class="text-left">Run Analysis</th>
                                    <th class="text-left">Visualization</th>
                                    <th class="text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-hover">
                                {% for sample in project.samples.all %}

                                <tr>
                                    <td class="text-left">{{ sample }}</td>
                                    <td class="text-left">{{ sample.nContigs }}</td>
                                    <td class="text-left">{{ sample.nARG }}</td>
                                    <td class="text-left">{{ sample.nMGE }}</td>
                                    <td class="text-left">{{ sample.nPAT }}</td>
                                    <td class="text-left">{{ sample.qARG }}</td>
                                    <td class="text-left">{{ sample.qARG_MGE }}</td>
                                    <td class="text-left">{{ sample.qARG_MGE_PAT }}</td>
                                    <td class="text-left">
                                        {% if sample.risk_score == 0.0001 %}
                                            Immeasurable
                                        {% else %}
                                            {{ sample.risk_score }}
                                        {% endif %}
                                    </td>
                                    <td class="text-left">
                                        {% if sample.stat == 1 %}
                                            <div class="loader loader--style2" title="Running">
                                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                                <animateTransform attributeType="xml"
                                                attributeName="transform"
                                                type="rotate"
                                                from="0 25 25"
                                                to="360 25 25"
                                                dur="0.6s"
                                                repeatCount="indefinite"/>
                                                </path>
                                            </svg> Running
                                            </div>
                                        {% else %}
                                            <!--Run Sample-->
                                            <!-- <a href="{% url 'run' pk=sample.pk%}">
                                                <button type="button" class="btn btn-default" title="Run sample">
                                                    <i class="fa fa-play" style="font-size:16px"></i> Run
                                                </button>
                                            </a> -->
                                            {% if username == 'guest' %}
                                                <button type="button" id="disabled" class="btn btn-default disabled" title="You need to create an account to access this feature">
                                                    <i class="fa fa-play" aria-hidden="true"></i> Run
                                                </button>
                                            {% else %}
                                                <a href="{% url 'run' pk=sample.pk%}">
                                                    <button type="button" class="btn btn-default " title="Run sample">
                                                        <i class="fa fa-play" aria-hidden="true"></i> Run
                                                    </button>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-left">
                                        {% if sample.stat == 1 %}
                                            <a href="{% url 'display_scaffolds' pk=sample.pk %}">   
                                                <button type="button" class="btn btn-default disabled" title="Run sample">
                                                    <i class="fa fa-eye" style="font-size:16px"></i> Visualize
                                                </button>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'display_scaffolds' pk=sample.pk %}">   
                                                <button type="button" class="btn btn-default" title="Run sample">
                                                    <i class="fa fa-eye" style="font-size:16px"></i> Visualize
                                                </button>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-left">
                                        <!--Delete Sample-->
                                        <a class="confirm-delete" href="{% url 'sample_remove' pk=sample.pk %}">
                                            <button type="button" class="btn btn-default" title="Delete sample">
                                                <i class="fa fa-trash" style="font-size:16px"></i>
                                            </button>
                                        </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</>
                            -->
                    </div>
                </div>
            </div>
            <!-- /project -->

            {% endfor %}

            {% include "footer.html" %}

        <script>
        $(document).on('click', '.confirm-delete', function(){ return confirm('Are you sure you want to delete?'); })
        $(document).on('click', '#disabled', function(){ return alert('You need to create an account to access this feature'); })
        </script>
    </body>
</html>