{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes.html" %}
    </head>
    <body>



        <script src = "{% static 'js/jquery.min.js' %}"></script>
        <script src = "{% static 'js/jquery.formset.js' %}"></script>
        <div class="upload-page">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                        <h3>Upload Samples</h3>
                    <font color = black>
                        <p>- Upload a FASTA file containing assembled sequences for each sample. </p>
                        <p>- If you have raw reads (FASTQ format) you can submit them to MetaStorm (<a href="http://bench.cs.vt.edu/MetaStorm/">http://bench.cs.vt.edu/MetaStorm/</a>) and run assembly pipeline to get assembled contigs as a FASTA file. The input files we need can be downloaded from MetaStorm by clicking "Scaffolds" buttons</p>
                        <p><b>*Warning*</b> MetaCompareWeb has been tested only on inputs derived from "trimmomatic + IDBA-UD" assembly pipeline for Illumina WGS files. </p>
                        
                    </font>
                    <div>
                        {{ sample_form.management_form }}
                        {% for sample in sample_form %}
                        <div class = "link-formset">
                            <hr>
                            {{ sample.as_p }}
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
                <hr>
                <button class="main-btn" type="submit">Upload</button>
            </form>
                <button class="main-btn" type="button" id="wait">Please wait...</button>
            <script>
            $(document).ready(function(){

                $("#wait").hide();

                $("button:submit").click(function(){
                    $(this).hide();
                    $("#wait").show().attr('disabled', true);
                });

            });
            </script>
            <!---->
            <!---->
                <!--$("button").click(function(){-->
                    <!--$(this).attr('disabled', true);-->
                <!--});-->

            <script>
                $('.link-formset').formset({
                    addText: 'Add more samples',
                    deleteText: 'remove sample <br>'
                });

            </script>

            <p><br><a href = "{% url 'main' %}">Return to home</a></p>
        </div>
    </body>
</html>


