<html>
    <head>
        {% include "includes.html" %}
        <!-- Some styles for visualization part -->
        <style type="text/css">
            .vis-item.sequence{
                background-color: lightskyblue;
                border-width: 0;
            }

            .vis-item.arg{
                background-color: salmon;
                border-width: 0;
            }

            .vis-item.mge{
                background-color: lightgreen;
                border-width: 0;
            }

            .vis-item.pat{
                background-color: purple;
                color: white;
                border-width: 0;
            }

            .vis-item{
                margin-top:0.45%;
                /* height: 100%; */
                height: 70%;
            }

            .vis-inner, .vis-label{
                min-height: 50px;
            }
        </style>
    </head>
    <body>
        {% include "nav.html" %}
            <!--Back Button-->
        <!-- <div>
            <a href="{% url 'display_scaffolds' pk=pk %}">
                <button class="btn btn-info" style="margin:1%">
                    <i class="fa fa-arrow-left" style="font-size:16px"></i> Back
                </button>
            </a>
        </div> -->
        <!--/Back Button-->

        <!--Visualization div-->
        <div>            
            <h2 style="padding-left: 1%;">{{ scaffold_id }}</h2>
            <div id="visualization" style="padding-left: 2%; padding-right: 2%;"></div>
            <div style="position: absolute; left: 3%;">Start: 1</div>
            <div style="position: absolute; right: 2%;">End: {{ length }}</div>
        </div>
        <!--/Visualization div-->
        <br>
        <br>
        <!-- Show all hits -->
        <div style="margin-left:2%; margin-right:2%; max-width: 100%;">
            <table class="table-fill" >
                <thead>
                    <tr>
                        <th class="text-center">Type</th>
                        <th class="text-center">Reference database ID</th>
                        <th class="text-center">Start</th>
                        <th class="text-center">End</th>
                        <th class="text-center">Sequence</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    {% for hit in hits %}
                    <tr>
                        <td class="text-center">{{ hit.type }}</td>
                        <td class="text-center">{{ hit.id }}</td>
                        <td class="text-center">{{ hit.start }}</td>
                        <td class="text-center">{{ hit.end }}</td>
                        <td class="text-center"><a href="">{{ hit.sequence|truncatechars:40 }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
        <br>
        {% include "footer.html" %}
    </body>
    <!-- /Show all hits -->
    <script type="text/javascript">
        // DOM element where the Timeline will be attached
        var container = document.getElementById('visualization');

        totalLength = {{ length }};

        var items = new vis.DataSet( {{ data_set|safe }} );

        var groups = [
            {
                id: 0,
                content: 'Scaffold ID',
                subgroupStack: true,
                className: 'sequence'
            },
            {
                id: 1,
                content: 'ARGs',
                subgroupStack: true,
                className: 'arg'
            },
            {
                id: 2,
                content: 'MGEs',
                subgroupStack: true,
                className: 'mge'
            },
            {
                id:3,
                content: 'Pathogens',
                subgroupStack: true,
                className: 'pat'
            }
        ]

        // Configuration for the Timeline
        const options = {
            orientation:{
                item: 'top'
            },
            margin:{
                item:{
                    vertical:10
                }
            },
            start: new Date(1),
            end: new Date(totalLength),
            min: new Date(1),
            max: new Date(totalLength),
            showMajorLabels:false,
            selectable:false,
            format: {
                minorLabels: function(date, scale, step) {
                    switch (scale) {
                    case 'millisecond':
                        return new Date(date).getTime() + "";
                    case 'second':
                        // var seconds = Math.round(new Date(date).getTime() / 1000);
                        // return seconds*60 + "";
                        return new Date(date).getTime() + ""
                    case 'minute':
                        // var minutes = Math.round(new Date(date).getTime() / 1000 * 60);
                        // return minutes*60*60 + "";
                        return new Date(date).getTime() + ""
                    case 'hour':
                        // var hour = Math.round(new Date(date).getTime() / 1000 * 60 * 60);
                        // return minutes*60*60 + "";
                        return new Date(date).getTime() + ""
                    }
                }
            },
            // for lines
            onInitialDrawComplete: function() {
                drawDependencies(dependency);
                timeline.on("changed", () => {
                    drawDependencies(dependency);
                });
            }
        };

        // Create a Timeline
        var timeline = new vis.Timeline(container, items, groups, options);
        
        const getItemPos = function(item) {
            left_x = item.left;
            top_y = item.parent.top + item.parent.height- 8 - item.height;
            return {
                left: left_x,
                top: top_y,
                right: left_x + item.width,
                bottom: top_y + item.height,
                mid_x: left_x + item.width / 2,
                mid_y: top_y + item.height / 2,
                width: item.width,
                height: item.height
            };
        };
        const drawLines = function(i, j, index) {
            console.log("read dependencyPath", dependencyPath);
            var item_i = getItemPos(timeline.itemSet.items[i]);
            var item_j = getItemPos(timeline.itemSet.items[j]);
            if (item_j.mid_x < item_i.mid_x) [item_i, item_j] = [item_j, item_i];
            var curveLen = item_i.height * 2;
            dependencyPath[index].setAttribute(
            "d",
            "M " +
                item_i.right +
                " " +
                item_i.mid_y +
                " C " +
                (item_i.right + curveLen) +
                " " +
                item_i.mid_y +
                " " +
                (item_j.left - curveLen) +
                " " +
                item_j.mid_y +
                " " +
                item_j.left +
                " " +
                item_j.mid_y
            );
        };
        dependency = [];
        itr = 0;
        while(true){
            _id0 = 'arg' + String(itr)
            _id1 = 'arg' + String(itr+1)
            if(timeline.itemSet.items[_id0]!=undefined && timeline.itemSet.items[_id1]!=undefined){
                dependency.push([_id0,_id1])
            }
            else{
                break;
            }
            itr++;
        }
        itr = 0;
        while(true){
            _id0 = 'mge' + String(itr)
            _id1 = 'mge' + String(itr+1)
            if(timeline.itemSet.items[_id0]!=undefined && timeline.itemSet.items[_id1]!=undefined){
                dependency.push([_id0,_id1])
            }
            else{
                break;
            }
            itr++;
        }
        itr = 0;
        while(true){
            _id0 = 'pat' + String(itr)
            _id1 = 'pat' + String(itr+1)
            if(timeline.itemSet.items[_id0]!=undefined && timeline.itemSet.items[_id1]!=undefined){
                dependency.push([_id0,_id1])
            }
            else{
                break;
            }
            itr++;
        }
        const drawDependencies = dependency => {
            dependency.map((dep, index) => drawLines(...dep, index));
        };
        
        // Create SVG layer on top of timeline "center" div.
        svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        svg.style.position = "absolute";
        svg.style.top = "0px";
        svg.style.height = "100%";
        svg.style.width = "100%";
        svg.style.display = "block";
        svg.style.zIndex = "1"; // Should it be above or below? (1 for above, -1 for below)
        svg.style.pointerEvents = "none"; // To click through, if we decide to put it above other elements.
        timeline.dom.center.appendChild(this.svg);
        
        // Add empty path (for now); it will be dynamically modified.
        const dependencyPath = [];
        for (let i = 0; i < dependency.length; i++) {
            const somePath = document.createElementNS(
                "http://www.w3.org/2000/svg",
                "path"
            );
            somePath.setAttribute("d", "M 0 0");
            somePath.setAttribute("marker-end", "url(#arrowhead0)");
            somePath.style.stroke = "#444";
            somePath.style.strokeWidth = "2px";
            somePath.style.fill = "none";
            dependencyPath.push(somePath);
            console.log("add somepath to dependencyPath", somePath);
            svg.appendChild(somePath);
        }
        
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>        