<!-- footer -->
<footer id="footer" class="sm-padding bg-dark">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <div class="row">
                <h4 class="white-text">Citations: </h4>
                <ol>
                <li class="white-text">1. Oh et al. (2020) MetaCompareWeb - TBA</li>
                <li class="white-text">2. Oh M, Pruden A, Chen C, Heath LS, Xia K & Zhang L (2018) MetaCompare: a computational pipeline for prioritizing environmental resistome risk. FEMS microbiology ecology 94: fiy079.</li>
                </ol>
                <br>
            </div>
            <div class="col-md-12">
                <!-- footer logo -->
                <!--<div class="footer-logo">-->
                    <!--<a href="main.html"><img src="img/logo-alt.png" alt="logo"></a>-->
                <!--</div>-->
                <!-- /footer logo -->

                <!-- footer follow -->
                <!--<ul class="footer-follow">-->
                    <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
                <!--</ul>-->
                <!-- /footer follow -->

                <!-- footer copyright -->
                <div class="footer-copyright">
                    <p>Copyright © 2020 Virginia Tech, Department of Computer Science. All Rights Reserved. <br>
                        Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- /footer copyright -->

            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->
