{% include "includes.html" %}

<!-- Nav -->
<nav id="nav" class="navbar">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a href="{% url 'main' %}">

                    <h2 class="logo">MetaCompareWeb <font size=5>(Beta)</font></h2>

                    <!--
                    <img class="logo" src="img/logo.png" alt="logo">
                    <img class="logo-alt" src="img/logo-alt.png" alt="logo">a
                    -->
                </a>
            </div>
            <!-- /Logo -->

            <!-- Collapse nav button -->
            <div class="nav-collapse">
                <span></span>
            </div>
            <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
        <ul class="main-nav nav navbar-nav navbar-right">
            <li><a href="{% url 'main' %}">Home</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'project' %}">My Project</a></li>
            {% endif %}
                <li class="has-dropdown">
                    <a href="#">Help</a>
                    <ul class="dropdown">
                        <li><a href="{% url 'how_to' %}">How to</a></li>
                        {% if user.is_authenticated %}
                            {% if user.username == 'guest' %}
                            {% else %}
                                <li><a href="{% url 'change_password' %}">Change password</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
        <!-- /Main navigation -->

    </div>
</nav>
<!-- /Nav -->
